# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos estáticos compilados
staticfiles/http://127.0.0.1:8000/admin/centros/